.example-card {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 12%;
  max-width: 850px;
  background-color: rgb(248, 244, 243);
  border: 3px solid black;
}

.logoutButton{
  margin-left: 23px;
  background-color: red;
  border-radius: 34px;
  color: black;
  font-weight: bold;
}

.example-card img{
  margin-top: 73px;
  margin-left: 40%;
  margin-right: 22%;
  width: 100px;
  height: 100px;
}

.MenuButton{
  background-color: rgb(240, 71, 240);
  margin-left: 42%;
  margin-right: 30%;
  border-radius: 34px;
  color: black;
  font-weight: bold;
}

.mat-menu-item{
  background-color: aqua;
}
