
<!-- ngModel="{{studentData?.Name}}" is used to prefill the form -->
<div class="user-auth">
  <div class="sign-up">
   <h1>Update the Student</h1>

   <img src="assets/studentLogo.png">

   <!-- <p style="color:green" *ngIf="Added===true">Teacher ADDED sucessfully!</p> -->

   <!-- The ng-model directive binds the value of HTML controls (input, select, textarea) to application data. -->
   <form #updateStudent="ngForm" class="common-form" (ngSubmit)="UpdatedStudent(updateStudent.value)">

    <!-- KSI bhi field pe validation lagaane se pehle uska naam rakho using #
 jaise #email and give it ngModel value
then usme agar required chaiye to vo add karo -->

<input
      type="text"
      class="form-input"
      name="Name"
      placeholder="Enter Student name"
      ngModel="{{studentData?.Name}}"
      #Name="ngModel"
      required
      Name
   />

   <span style="color:red">Enter Full-name</span>

<!-- line 56 -> proper email input hua ki nhi vo dekhne ke liye -->
    <input
      type="text"
      class="form-input"
      name="email"
      placeholder="Enter Student Email"
      ngModel="{{studentData?.email}}"
      #email="ngModel"
      required
      email
    />
    <!-- <p><span>{{email.invalid}}</span></p> -->
    <!-- jaise console.warn() se check karte the o/p. vaise hi name.invalid se apan check karte result. Ex:
email.invalid agar true diya matlab vo invalid hai yaani abhi bhi khaali hai jabki required hai. display it using <span> -->

   <!--We don't want this message when user enters this page.Agar true hai and user ne touch karke uske box ke bahaar cusror laaya tab hi vo message aayga -->
    <p class="invalid-input"><span *ngIf="email.invalid && email.touched">email REQUIRED</span></p>
   <!-- this invalid input class is kept in styles.css in order to be accessible by all forms -->

    <input
    type="password"
    class="form-input"
    name="password"
    placeholder="Set Student Password"
    ngModel="{{studentData?.password}}"
    #password="ngModel"
    required
    password
    minlength="2"
    maxlength="20"
  />
  <p class="invalid-input"><span *ngIf="password.invalid && password.touched">Password REQUIRED</span></p>
  <span style="color:red">Password length should be between [2-20] chars</span>
  <!-- ab button bhi proper time pe disable honi chaiye in case inputs are INVALID -->
  <!-- style of button after being disabled is added in styles.css -->

   <input
      type="number"
      class="form-input"
      name="Roll_no"
      placeholder="Set Roll no"
      ngModel="{{studentData?.Roll_no}}"
      #Roll_no="ngModel"
      required
      Roll_no
   />
    <span style="color:red">Should be UNIQUE number</span>

    <!-- <input
      type="<select [(ngModel)]="model">
        <option *ngFor="let item of list" [value]="item">{{item}}</option>
      </select>"

      class="form-input"
      name="Branch"
      placeholder="Enter Student Branch"
      ngModel
      #name="ngModel"
      required
      Branch
   /> -->

   <p style="color: blueviolet;">Choose Branch</p>
   <ng-select [items]="items" [(ngModel)]="selectedItem" name="Branch" placeholder="Branch selected -> " class="selectBranch">
    </ng-select>

    <!-- manually binding id to the form as khud se nhi hora tha ye -->
    <input type="hidden" name="id" [ngModel]="studentData?.id">

    <input
      type="text"
      class="form-input"
      name="Subject"
      placeholder="Enter Student subject"
      ngModel="{{studentData?.Subject}}"
      #Subject="ngModel"
      required
      Subject
   />

    <br><br><br><br>
  <button [disabled]="updateStudent.invalid" class="form-button">Update Student</button>
  </form>
  </div>


