<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h1>WELCOME TO ATTENDANCE APP</h1></mat-card-title>
    <mat-card-subtitle><h3>Made using Angular</h3></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/att.jpg" alt="Image loading">
  <mat-card-content>
    <h2>
      Plz select your next action from the menu below

      <!-- Components/Student/delete-student -->

      <button mat-button [matMenuTriggerFor]="belowMenu" class="MenuButton">MENUS</button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="adminLogin()">Login As Admin</button>
        <button mat-menu-item (click)="teacherLogin()">Login As Teacher</button>
        <button mat-menu-item (click)="studentLogin()">Login As Student</button>
      </mat-menu>

    </h2>
  </mat-card-content>
</mat-card>


