.example-card {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 12%;
  max-width: 100%;
  background-color: rgb(254, 142, 110);
  border: 3px solid black;
}

.example-card img{
  border: 3px solid black;
  border-radius: 194px;
}

.MenuButton{
  background-color: rgb(240, 71, 240);
  margin-left: 42%;
  margin-right: 30%;
  border-radius: 34px;
}

.mat-menu-item{
  background-color: aqua;
}
